@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap");

:root {
  /* --- Colors --- */
  --color-white: #ffffff;

  /* Grey Scale */
  --color-grey-900: #48556a;
  --color-grey-500: #6e8098;
  --color-grey-400: #9daec2;
  --color-grey-200: #ecf2f8;

  /* --- Typography (Manrope) --- */
  --font-family-main: "Manrope", sans-serif;

  /* Text Preset 1 (Bold) */

  --fs-preset-1: 20px;
  --lh-preset-1: 130%;
  --ls-preset-1: 0.25px;
  --fw-bold: 700;

  /* Text Preset 2 (Bold & Medium) */
  --fs-preset-2: 13px;
  --lh-preset-2: 140%;
  --ls-preset-2: 0.12%;
  --fw-medium: 500;

  /* Text Preset 3 (Regular/Uppercase) */
  --fs-preset-3: 13px;
  --lh-preset-3: 140%;
  --ls-preset-3: 2.5%;

  /* --- Spacing --- */
  --spacing-0: 0px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-1300: 104px;
  --spacing-2000: 160px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-main);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-200);
}

main {
  max-width: 327px;
  border-radius: 10px;
  overflow: hidden;
  object-fit: contain;
  margin: 1.5rem;
  /* x-offset | y-offset | blur | spread | color */
  box-shadow: 0 25px 50px -12px rgba(25, 27, 30, 0.25);
  background-color: var(--color-white);
}

.header-style {
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.25px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--color-grey-900);
}

.drawers {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.content {
  padding: 0 30px 18px 30px;
}

.paragraph {
  margin-bottom: 3rem;
  font-size: 13px;
  line-height: 1.4;
  list-style: 0.12%;
  font-weight: 500;
  color: var(--color-grey-500);
}

footer {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.details {
  margin-left: 1rem;
  flex: 1;
}

.name {
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 1.4;
  color: var(--color-grey-900);
}

.date {
  font-size: 13px;
  letter-spacing: 1.4;
  color: var(--color-grey-400);
}

.popover-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  background-color: var(--color-grey-200);
}

@media (min-width: 768px) {
  main {
    display: flex;
    max-width: clamp(38.125rem, 66vw + 1rem, 45.625rem);
    margin: 0px;
  }

  .drawers {
    width: 40%;
    margin: 0px;
  }

  .content {
    padding: 2rem;
  }
}
